doctype html
html(lang='en')
    head
        title
            block title
                | 新楓之谷 - 淫小築

        link(rel='shortcut icon', href='/favicon.png')

        //- UIkit CSS
        link(rel='stylesheet' href='/uikit/css/uikit.min.css')
        //- UIkit JS
        script(src='/uikit/js/uikit.min.js')
        script(src='/uikit/js/uikit-icons.min.js')

        block style

    body
        block content
