doctype html
html(lang='en')
    head
        title
            block title
                | 新楓之谷 - 淫小築

        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='shortcut icon', href='/favicon.png')

        //- UIkit CSS
        link(rel='stylesheet' href='/uikit/css/uikit.min.css')
        //- UIkit JS
        script(src='/uikit/js/uikit.min.js')
        script(src='/uikit/js/uikit-icons.min.js')

        style(type='text/css').
            @font-face {
                font-family: 'KaiGenGothicTC';
                src: url('/assets/fonts/KaiGenGothicTC-Normal.ttf') format('truetype');
            }
            html, body {
                height: 100%;
                overflow: hidden;
                font-family: 'KaiGenGothicTC', Arial, sans-serif !important;
            }
            .uk-heading-line {
                font-family: 'KaiGenGothicTC', Arial, sans-serif !important;
            }

        block style

    body
        block content
