doctype html
html(lang='en')
    head
        title
            block title
                | 新楓之谷 - 淫小築

        meta(name='viewport', content='width=device-width, initial-scale=1')

        //- Meatdata for preview.
        meta(name='description', content='小築一家親，歡迎加入小築大家庭')
        meta(property='og:title', content='新楓之谷 淫小築公會')
        meta(property='og:description', content='小築一家親，歡迎加入小築大家庭')
        meta(property='og:url', content=`${env.webAppURL}`)
        meta(property='og:image', content=`${env.webAppURL}assets/images/logo.png`)

        link(rel='shortcut icon', href='/favicon.png')

        //- UIkit CSS
        link(rel='stylesheet' href='/uikit/css/uikit.min.css')
        //- UIkit JS
        script(src='/uikit/js/uikit.min.js')
        script(src='/uikit/js/uikit-icons.min.js')

        style(type='text/css').
            @font-face {
                font-family: 'KaiGenGothicTC';
                src: url('/assets/fonts/KaiGenGothicTC-Normal.ttf') format('truetype');
            }
            html, body {
                height: 100%;
                overflow: hidden;
                font-family: 'KaiGenGothicTC', Arial, sans-serif !important;
            }
            .uk-heading-line {
                font-family: 'KaiGenGothicTC', Arial, sans-serif !important;
            }

        block extendedLibs

        block style

    body
        block content
