extends base.pug

block content
    div.uk-section.uk-section-muted
        div.uk-container.uk-container-xsmall
            div.uk-margin-medium-bottom.uk-card.uk-card-default.uk-card-body
                h2.uk-heading-line.uk-text-center
                    | 新楓之谷 淫小築
                ul.uk-list
                    li 1. 點擊「公會會員登入」
                    li 2. 透過 LINE 登入
                    li 3. 輸入邀請碼
                    li 4. 完成會籍登錄
            if user === undefined
                a.uk-button.uk-button-primary.uk-width-1-1(href='/login')
                    | 公會會員登入
            else
                if ['公會長', '副會長'].includes(user.status)
                    a.uk-button.uk-button-primary.uk-width-1-1.uk-margin-small-bottom(href='/admin')
                        | 公會幹部管理頁面
                if ['公會長', '副會長', '會員'].includes(user.status)
                    a.uk-button.uk-button-primary.uk-width-1-1.uk-margin-small-bottom(href='/users')
                        | 查閱會員列表
                else
                    button.uk-button.uk-button-primary.uk-width-1-1.uk-margin-small-bottom(disabled)
                        | 查閱會員列表
                a.uk-button.uk-button-danger.uk-width-1-1(href='/logout')
                    | 登出
