doctype html
html(lang='en')
    head
        title
            | 新楓之谷 - 淫小築 - 入會註冊

        style(type='text/css').
            button {
                color: blue;
            }

    body
        a(href='/login')
            button
                | 註冊公會會員
        a(href='/users')
            button
                | 查閱會員列表
