extends ../base.pug
block title
    | 新楓之谷 - 淫小築 - 入會註冊

block style
    style(type='text/css').
        body {
            background: url(https://orig00.deviantart.net/585a/f/2016/125/e/a/_maplestory_background__walk_in_the_park_by_bboki-da1e7rd.png) no-repeat scroll center center / cover;
        }
        .content {
            padding-top: 2em;
            background: rgba(255, 255, 255, .85);
        }
        .content .article {
            max-height: 350px;
            overflow-y: scroll;
        }
        .content .article .permission {
            text-align: center;
        }
        .content .article .permission img {
            max-width: 275px;
        }

block content
    div.uk-section.uk-position-center-left.uk-position-center-right
        div.content.uk-container.uk-container-xsmall
            h1.uk-heading-line.uk-text-center
                | 網站聲明

            div.article
                div.uk-margin
                    p 本網站平台透過 LINE 所授權的「
                        span.uk-text-primary
                            |個人檔案
                        | 」資訊 (見下圖)。
                    p 我們
                        span.uk-text-danger
                            | 不會取得額外特殊權限
                        | ，即無法對其帳號進行任何異動操作。

                div.permission.uk-margin
                    img(src='/assets/images/permission.png')

            a(href='/auth/line')
                button.uk-button.uk-button-primary.uk-width-1-1.uk-margin-top.uk-margin-bottom
                    | 透過 LINE 登入
