extends ../base.pug
block title
    | 新楓之谷 - 淫小築 - 入會註冊

block style
    style(type='text/css').
        body {
            background: url(https://orig00.deviantart.net/585a/f/2016/125/e/a/_maplestory_background__walk_in_the_park_by_bboki-da1e7rd.png) no-repeat scroll center center / cover;
        }

        .content {
            padding-top: 2em;
            background: rgba(255, 255, 255, .85);
        }

block content
    div.uk-section.uk-position-center-left.uk-position-center-right
        div.uk-container.uk-container-xsmall
            div.content.uk-margin-medium-bottom.uk-card.uk-card-default.uk-card-body
                h1.uk-heading-line.uk-text-center
                    | 輸入邀請碼

                div.uk-margin
                    | 請聯繫淫小築公會幹部，並通過面試索取邀請碼。

                div.uk-margin
                    span.uk-label.uk-margin-small-right
                        | 請留意
                    | 每組代碼是遊戲角色綁定的，無法重複使用或轉帳給他人。

                form(action='/members/register', method='post')
                    div.uk-margin
                        label.uk-form-label(for='inviteCode')
                            | 邀請代碼
                        div.uk-form-controls
                            input#inviteCode.uk-input(name='inviteCode', type='text')

                    div.uk-margin
                        label.uk-form-label(for='displayName')
                            | LINE
                        div.uk-form-controls
                            div.uk-inline
                                span.uk-form-icon(uk-icon='icon: user')
                                input#displayName.uk-input(name='displayName', type='text', value= displayName, readonly)

                    input#code(name='code', type='hidden', value= code)

                    input.uk-button.uk-button-primary.uk-align-right.uk-margin-remove-bottom(type='submit', value='送出')
