extends ../base.pug
block title
    | 新楓之谷 - 淫小築 - 成員列表

block style
    style(type='text/css').
        html, body {
            overflow: scroll;
        }

    style(type='text/css').
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .profile-card {
            width: 100%;
            min-width: 150px;
            max-width: 250px;
            margin: 10px;
            text-align: center;
            border-radius: 5px;
            overflow: hidden;
        }
        .profile-card .header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background: rgba(0, 0, 0, 0) url("https://www.toptal.com/designers/subtlepatterns/patterns/circles-light.png") repeat scroll 0% 0%;
            padding: .5em 1em;
        }
        
        .profile-card .header .status {
            margin-right:auto;
        }
        .profile-card .header img.group-icon {
            margin-left: .25em;
        }
        .avatar-picture {
            width: 100%;
            height: 100px;
            margin-top: 1em;
        }
        .avatar-picture img.avatar {
            width: 100px;
            height: 100px;
        }
        .profile-content {
            padding: .3em 1em 1em 1em;
        }
        .avatar-name {
            font-size: 1.5em;
            letter-spacing: .1em;
        }
        .profile-card .footer {
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0) url("https://www.toptal.com/designers/subtlepatterns/patterns/circles-light.png") repeat scroll 0% 0%;
            padding: .5em 1em;
        }
        .user-picture {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
        .user-name {
            margin-left: .5em;
        }

block content
    div.uk-container
        nav.uk-navbar-container(uk-sticky='bottom: #offset', uk-navbar)
            div.uk-navbar-left
                div.uk-navbar-item
                    form.uk-search.uk-search-navbar.uk-width-1-1
                        span(uk-search-icon)
                        input.uk-search-input(type='search', placeholder='查查 ID 或 LINE')
        div.cards
            each member in members
                div.profile-card(
                    style={
                        'background': 'rgba(0, 0, 0, 0) url("https://www.toptal.com/designers/subtlepatterns/patterns/leaves.png") repeat scroll 0% 0%',
                    }
                )
                    div.header
                        span.status #{member.status}
                        img.group-icon.uk-border-pill(uk-tooltip= '困難露希妲 - 1 團', src= '/assets/bosses/lucid-hard.png', width='25', height='25')
                        img.group-icon.uk-border-pill(uk-tooltip= '困難威爾 - 1 團', src= '/assets/bosses/will-hard.png', width='25', height='25')
                    div.avatar-picture
                        if member.avatarURL
                            img.avatar.uk-border-rounded(src= member.avatarURL, width='200', height='200')
                    div.profile-content
                        div.avatar-name
                            | #{member.charName}
                        div #{member.job || '未知'}
                    div.footer
                        img.uk-border-pill(src= member.pictureURL, width='35', height='35')
                        div.user-name
                            | #{member.displayName}
